In [1]:
a = 9
id(a)

140735106575032

In [2]:
b = 5
id(b)

140735106574904

In [3]:
c = 9
id(c)

140735106575032

In [4]:
print("Easy Coding")

Easy Coding

In [6]:
print(10+20)

30

In [8]:
print(10,"+",20,"=",10+20)

10 + 20 = 30

In [12]:
print(10,"+",50,"=",a+b)

10 + 50 = 60

In [14]:
a = 10
b = 50
print(a,"+",b,"=",a+b)

10 + 50 = 60

In [16]:
# wap to calculate the area and permeter of the rectangle based on inputs
# len and width
# hints:   area = l * b            per = 2* (l+b)

l = 5
b = 8

area = l * b
per = 2 * (l+b)

print("Area =",area)
print("Perimeter =",per)

Area = 40
Perimeter = 26

In [18]:
name = input("Enter your name: ")
print("Welcome",name)

Enter your name:  Pavan

Welcome Pavan

In [20]:
a = int(input("Enter a:"))          # type conversion
b = int(input("Enter b:"))

print(a+b)

Enter a: 10
Enter b: 20

30

In [21]:
radius = int(input("Enter radius:"))
area = 3.14 * radius * radius
per = 2 * 3.14 * radius

print("Area of circle",area)
print("Perimeter",per)

Enter radius: 5

Area of circle 78.5
Perimeter 31.400000000000002

In [4]:
a,b = 5,9

if a>b:    
    print(a,"is big")
else:
    print(b,"is big")

9 is big

In [6]:
age = int(input("Enter age:"))
if age < 18:
    print("not eligible to vote")
else:
    print("eligible to vote")

Enter age: 22

eligible to vote

In [7]:
a = int(input("Enter a number:"))
if a>0:
    print("Positive")
else:
    print("Negative")

Enter a number: -5

Negative

In [10]:
a,b,c = 15,9,12

if a>b:
    if a>c:
        print(a,"is big")
    else:
        print(c,"is big")
else:
    if b>c:
        print(b,"is big")
    else:
        print(c,"is big")

15 is big

In [11]:
maths = int(input("Enter maths:"))
physics = int(input("Enter physics:"))
chemistry = int(input("Enter chemistry:"))

total = maths+physics+chemistry
per = total / 3

print("Percentage is",per)

if per>=90 and per<=100:
    print("A++ grade")
elif per>=80 and per<90:
    print("A+ grade")
elif per>=70 and per<80:
    print("A grade")
elif per>=60 and per<70:
    print("B grade")
else:
    print("no grade")

Enter maths: 85
Enter physics: 79
Enter chemistry: 75

Percentage is 79.66666666666667
A grade

In [1]:
ch = 'A'
print(ord(ch))

65

In [3]:
print(chr(64)

@

In [6]:
ch = input("Enter some character:")

if ord(ch)>=65 and ord(ch)<=90:
    print(chr(ord(ch)+32))
elif ord(ch)>=97 and ord(ch)<=122:
    print(chr(ord(ch)-32))
else:
    print("please enter a character")

Enter some character: g

G

In [2]:
i = 0
while i<5:
    print("pavan")
    i = i + 1

pavan
pavan
pavan
pavan
pavan

In [8]:
i=0
while i<10:
    i = i + 1
    if i==5 or i==7:
        continue    
    print(i,end=' ')

1 2 3 4 6 8 9 10

In [10]:
i=0
total = 0

while i<6:
    mark = int(input("Enter marks:"))
    total = total + mark
    i = i + 1

print(total)
print(total/6)

Enter marks: 87
Enter marks: 95
Enter marks: 67
Enter marks: 69
Enter marks: 45
Enter marks: 88

451
75.16666666666667

In [12]:
num = int(input("Enter a number:"))
rev = 0

while num!=0:
    last = num % 10      # it give last number
    rev = rev * 10 + last
    num = num // 10      # it removes last number

print(rev)

Enter a number: 5896

6985

In [3]:
# wap to generate a fibanocci series upto given range
#     0 1 1 2 3 5 8 13 21 

first,second,total = 0,1,0

n = int(input("Enter series:"))

while n!=0:
    print(total,end=' ')
    first = second
    second = total
    total = first + second
    n = n -1

Enter series: 12

0 1 1 2 3 5 8 13 21 34 55 89

In [4]:
# wap to check the given number is armstrong or not

num = int(input("Enter a number:"))
temp = num
total = 0
while num!=0:
    d = num % 10
    total = total + d**3
    num = num // 10

if temp == total:
    print("Armstrong")
else:
    print("Not an Armstrong")

Enter a number: 371

Armstrong

In [7]:
# palindrome   123  321    121  121  palindrome  2552  

# nested while

i = 1
while i<=3:
    j = 1
    while j<=3:
        print(j,end=" ")
        j = j + 1
    print()
    i = i + 1

1 2 3
1 2 3
1 2 3

In [8]:
for k in range(1,11,1):
    print(k,end=' ')

1 2 3 4 5 6 7 8 9 10

In [9]:
for k in range(2,5):    # inc by 1
    print(k,end=' ')

2 3 4

In [10]:
for k in range(5):     # default initial value 0
    print(k,end=' ')

0 1 2 3 4

In [13]:
for k in range(10,0,-1):
    print(k,end=' ')

10 9 8 7 6 5 4 3 2 1

In [16]:
num = int(input("Enter a number:"))
factor = 0

for k in range(1,num+1):
    if num%k==0:
        factor = factor + 1

if factor==2:
    print("prime")
else:
    print("not prime")

Enter a number: 13

prime

In [6]:
start = int(input("Enter starting number:"))
end = int(input("Enter ending number:"))

for i in range(start,end+1):
    for j in range(2,i):        
        if i%j==0:
            break
    else:
        print(i,end=" ")

Enter starting number: 50
Enter ending number: 100

53 59 61 67 71 73 79 83 89 97

In [1]:
for k in range(4):
    for j in range(4):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [2]:
for i in range(1,4):
    for j in range(i,i+3):
        print(j,end=" ")
    print()

1 2 3
2 3 4
3 4 5

In [3]:
for i in range(1,4):
    for j in range(3,i-1,-1):
        print(j,end=" ")
    print()

3 2 1
3 2
3

In [7]:
mylist = [5,2,7,1,8]

mylist[-3]

7

In [8]:
mylist.append(55)

In [9]:
mylist

[5, 2, 7, 1, 8, 55]

In [10]:
mylist.pop()

55

In [11]:
mylist

[5, 2, 7, 1, 8]

In [12]:
mylist.insert(1,55)

In [13]:
mylist

[5, 55, 2, 7, 1, 8]

In [14]:
mylist.pop(1)

55

In [15]:
mylist

[5, 2, 7, 1, 8]

In [16]:
mylist.remove(1)

In [17]:
mylist

[5, 2, 7, 8]

In [18]:
mylist.extend([3,4,1])

In [19]:
mylist

[5, 2, 7, 8, 3, 4, 1]

In [20]:
mylist.extend([5,2,8,2,6,3,9,5,2])

In [21]:
mylist

[5, 2, 7, 8, 3, 4, 1, 5, 2, 8, 2, 6, 3, 9, 5, 2]

In [22]:
mylist.count(2)

4

In [23]:
mylist.count(5)

3

In [24]:
mylist.count(8)

2

In [25]:
mylist = [7,2,5,3]
len(mylist)

4

In [26]:
sum(mylist)

17

In [27]:
max(mylist)

7

In [28]:
min(mylist)

2

In [33]:
mylist

[7, 2, 5, 3]

In [34]:
mylist.sort()

In [35]:
mylist

[2, 3, 5, 7]

In [36]:
mylist.reverse()

In [37]:
mylist

[7, 5, 3, 2]

In [1]:
mylist = [5,2,7,1,8,3,4,2,1]

mylist[3:6]

[1, 8, 3]

In [2]:
mylist[:5]

[5, 2, 7, 1, 8]

In [3]:
mylist[4:]

[8, 3, 4, 2, 1]

In [4]:
mylist[:]

[5, 2, 7, 1, 8, 3, 4, 2, 1]

In [5]:
mylist[6:3:-1]

[4, 3, 8]

In [6]:
mylist[::-1]

[1, 2, 4, 3, 8, 1, 7, 2, 5]

In [7]:
mylist = [5,2,7,1]
mylist * 3

[5, 2, 7, 1, 5, 2, 7, 1, 5, 2, 7, 1]

In [9]:
a = [5,3,7]
b = [7,2,8]
c = a+b
print(c)

[5, 3, 7, 7, 2, 8]

In [12]:
mylist

[5, 2, 7, 1]

In [13]:
mylist = [7,2,8,1,4,3,5]
mylist

[7, 2, 8, 1, 4, 3, 5]

In [15]:
for i in range(len(mylist)):
    print(mylist[i],end=" ")

7 2 8 1 4 3 5

In [16]:
for k in mylist:
    print(k,end=" ")

7 2 8 1 4 3 5

In [17]:
mylist

[7, 2, 8, 1, 4, 3, 5]

In [21]:
mylist = [7,2,13,9,21,4]
m = 0
for k in mylist:
    if m<k:
        m = k
print(m)

21

In [22]:
n = mylist[0]
for k in mylist:
    if n > k:
        n = k
print(n)

2

In [23]:
mylist

[7, 2, 13, 9, 21, 4]

In [24]:
for i in range(len(mylist)):
    for j in range(i,6):
        if mylist[i] > mylist[j]:
            temp = mylist[i]
            mylist[i] = mylist[j]
            mylist[j] = temp

for k in mylist:
    print(k,end=" ")

2 4 7 9 13 21

In [26]:
a = [5,2,9,7,1]

print(a)
for i in range(3):
    temp = a[0]
    for j in range(0,4):
        a[j] = a[j+1]
    a[4] = temp

a

[5, 2, 9, 7, 1]

[7, 1, 5, 2, 9]

In [3]:
mylist = []

while True:
    print("1. Add element \n2. Delete element \n3. Display Elements \n4. Exit ")
    option = int(input("Enter your option:"))

    if option==1:
        ele = int(input("Enter element:"))
        mylist.append(ele)
        print(ele,"added successfully..")
    
    if option==2:
        ele = int(input("Which element you want to delete:"))
        if ele in mylist:
            mylist.remove(ele)
            print(ele,"deleted successfully")
        else:
            print(ele,"not found..")
    
    if option==3:
        for k in mylist:
            print(k,end=' ')
    
    if option==4:
        print("Thank you..")
        break

1. Add element
2. Delete element
3. Display Elements
4. Exit

Enter your option: 1
Enter element: 10

1. Add element
2. Delete element
3. Display Elements
4. Exit

Enter your option: 1
Enter element: 20

1. Add element
2. Delete element
3. Display Elements
4. Exit

Enter your option: 1
Enter element: 30

1. Add element
2. Delete element
3. Display Elements
4. Exit

Enter your option: 3

10 20 30 1. Add element
2. Delete element
3. Display Elements
4. Exit

Enter your option: 2
Which element you want to delete: 15

ele not found..
1. Add element
2. Delete element
3. Display Elements
4. Exit

Enter your option: 2
Which element you want to delete: 20

1. Add element
2. Delete element
3. Display Elements
4. Exit

Enter your option: 3

10 30 1. Add element
2. Delete element
3. Display Elements
4. Exit

Enter your option: 4

Thank you..

In [5]:
# find the sum of even numbers in the list
# take some list of salaries and add all the salaries that are below 50000
mylist = [50000,25000,71000,15000,81000,35000,91000,42000]
total = 0
for k in mylist:
    if k<50000:
        total = total + k

print(total)

117000

In [11]:
basket = ['mango','gauva','apple','kiwi','mango','apple','avacado','mango','orange']
# write the code to see how many mangos are present in the basket
# how many single fruits are there list them
# list the fruits and their quantity

unique = set(basket)
unique

for k in unique:
    print(k,"=",basket.count(k))

avacado = 1
apple = 2
orange = 1
gauva = 1
mango = 3
kiwi = 1

In [12]:
basket = ['mango','gauva','apple','kiwi','mango','apple','avacado','mango','orange']

mybasket = []

for k in basket:
    if k not in mybasket:
        mybasket.append(k)

for p in mybasket:
    print(p,"=",basket.count(p))

mango = 3
gauva = 1
apple = 2
kiwi = 1
avacado = 1
orange = 1

In [13]:
# display all the fruits which has 'an' pattern in the basket

for k in basket:
    if "an" in k:
        print(k)

mango
mango
mango
orange

In [3]:
mylist = [[5,3,6],[8,2,1],[7,3,2],[6,3,9]]

for innerlists in mylist:
    for k in innerlists:
        print(k,end=' ')
    print()

5 3 6
8 2 1
7 3 2
6 3 9

In [13]:
emp_records = [
            ["222","shekar",65321.23,"analyst"],
            ["248","Ram",78321.23,"TeamLead"],
            ["542","Sameer",87321.23,"Manager"],
            ["168","Kiran",45321.23,"Admin"]    
]

# for k in mylist:
#     print(k[1])


# ask the user to enter empid and print the corresponding employee name and his designation
# print the employess and their salaries who are getting less than 70k


empid = input("Enter emp id: ")
for record in emp_records:    
    if record[0]==empid:
        print("\nName:",record[1],"\nDesignation",record[3])
        break
else:
    print("not found")


for record in emp_records:
    if record[2] < 70000:
        for each in record:
            print(each,end=' ')
        print()

Enter emp id:  456

not found
222 shekar 65321.23 analyst
168 Kiran 45321.23 Admin

In [16]:
# Strings

w = "jack and jill went up the hill"
print(w)

jack and jill went up the hill

In [15]:
type(word)

str

In [17]:
w.upper()

'JACK AND JILL WENT UP THE HILL'

In [18]:
w.count("ill")

2

In [20]:
y = "hello2"
y.isalpha()

False

In [21]:
y.isdigit()

False

In [22]:
y.isalnum()

True

In [24]:
words = w.split(' ')

words

['jack', 'and', 'jill', 'went', 'up', 'the', 'hill']

In [26]:
# count he number of words in a given string

words = w.split(' ')
len(words)

7

In [27]:
for k in words:
    print(k)

jack
and
jill
went
up
the
hill

In [28]:
w

'jack and jill went up the hill'

In [29]:
y

'hello2'

In [30]:
x = "hello"
x.islower()

True

In [31]:
x.isupper()

False

In [34]:
# ask the user to enter some text and if it is containing only alphabets
# you need convert the case
#  abc   ABC         abc2  "please enter alphabets"   XYZ  lower case

word = input("Enter some text")

if word.isalpha():
    if word.islower():
        print(word.upper())
    else:
        print(word.lower())
else:
    print("please enter alphabets only")

Enter some text GOOD

good

In [35]:
w

'jack and jill went up the hill'

In [36]:
w.replace('jill','bill')

'jack and bill went up the hill'

In [40]:
# ask the user to enter a word
# and check the number of times the word is repeated in that string
# immutable   string  you cannot make any changes to the original string

para = "The park was peaceful, and the peaceful atmosphere made everyone feel at ease. People walked slowly, enjoying the peaceful surroundings. The sound of birds singing added to the peaceful scene, creating a moment of tranquility that was hard to find elsewhere."

word = input("Enter a word:")

para.count(word)

Enter a word: the

3

In [1]:
mylist = [5,3,6,7,2,8,9]

mylist[2:5]

[6, 7, 2]

In [2]:
mylist[3:]

[7, 2, 8, 9]

In [5]:
mylist[:4]

[5, 3, 6, 7]

In [6]:
mylist[:]

[5, 3, 6, 7, 2, 8, 9]

In [7]:
mylist[4:1:-1]

[2, 7, 6]

In [8]:
mylist[::-1]

[9, 8, 2, 7, 6, 3, 5]

In [9]:
mysen = "The bright sun shines high in the sky. Birds sing sweet songs as clouds float by. Trees sway gently in the cool breeze nearby."

'The bright sun shines high in the sky. Birds sing sweet songs as clouds float by. Trees sway gently in the cool breeze nearby.'

In [14]:
words = mysen.split(' ')
for word in words:
    if 'a' in word or 'e' in word or 'i' in word or 'o' in word or 'u' in word:
        print(word)

The
bright
sun
shines
high
in
the
Birds
sing
sweet
songs
as
clouds
float
Trees
sway
gently
in
the
cool
breeze
nearby.

In [18]:
q = "An apple a day would keep doctor away. Apple made newton invent Gravity."

r = q.lower()

r.replace('a','*')

'*n *pple * d*y would keep doctor *w*y. *pple m*de newton invent gr*vity.'

In [20]:
stmt = "I got 97 in maths. 85 in science and 71 in English"

arr = stmt.split(' ')
total = 0
for word in arr:
    if word.isnumeric():
        total = total + int(word)

print(total)
print(total/3)

253
84.33333333333333

In [28]:
pan = input("Enter your pan number:")

if len(pan)!=0:
    if len(pan)==10:
        one = pan[:5]        
        two = pan[5:9]        
        three = pan[-1]        
        if one.isalpha() and two.isnumeric() and three.isalpha():
            print(pan.upper()," is valid")
        else:
            print("Invalid")
        
    else:
        print("invalid entry")
else:
    print("dont leave it blank..")

Enter your pan number: dbnms9876m

Pan number DBNMS9876M  is valid

In [11]:
import re     # multiple delimiters    based on space character 32, @ .

a = "abc@google.com"
b = re.split('[@.]',a)
print(b)

['abc', 'google', 'com']

In [16]:
# ask the user to enter an email id. and check whether the user entered a valid
# email address or not

#  hint:  if that has @ and . then you can consider it otherwise it is invalid

email = input("Enter your email id:")

if len(email)!=0:
    if '@' in email and '.' in email:

        mytokens = re.split('[@.]',email)        
        username = mytokens[0]
        domain = mytokens[1]
        suffix = mytokens[2]

        if username.isalnum() and domain in ['google','yahoo','rediff','yandex','gmail'] and suffix in ['com','org','net']:
            print("valid email id")
        else:
            print("invalid")
    else:
        print("invalid email id")
else:
    print("invalid email id")

Enter your email id: abc.com

invalid email id

In [21]:
name = "sachin"
age = 45

f"my name is {name} and I'm {age} year old"

"my name is sachin and I'm 45 year old"

In [22]:
first = input("enter first name:")
last = input("enter last name")
print(f'your email id is {first}{last}@gmail.com')

enter first name: ram
enter last name kesineni

your email id is ramkesineni@gmail.com

In [25]:
employees = ["Aarav Sharma", "Priya Patel", "Vikram Reddy", "Sanya Gupta", "Rohit Desai",
             "Neha Kumar", "Arjun Nair", "Ananya Singh", "Karan Mehta", "Isha Joshi"]

# for name in employees:
#     if name.endswith('a'):
#         print(name)


# for name in employees:
#     if 'an' in name:
#         print(name)

for name in employees:
    if name.count('a')==3:
        print(name)

Sanya Gupta
Karan Mehta

In [29]:
"im {name} and im {age} years old".format(name="sachin",age=45)

'im sachin and im 45 years old'

In [30]:
"im {0} and im {1} years old".format("sachin",45)

'im sachin and im 45 years old'

In [31]:
"im {} and im {} years old".format("sachin",45)

'im sachin and im 45 years old'

In [8]:
# wap to add 20 to the tuple
t = (5,3,7,2,8)
p = list(t)      # type convertions   changing from tuple to list
p.append(20)
t = tuple(p)
t

(5, 3, 7, 2, 8, 20)

In [11]:
myset1 = {5,3,7,2,8,3,5}
myset2 = {1,9,3,6,2,4,5}

myset1.union(myset2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
myset1.intersection(myset2)

{2, 3, 5}

In [13]:
myset1.difference(myset2)

{7, 8}

In [15]:
myset1 - myset2

{7, 8}

In [18]:
basket1 = {"apple", "banana", "cherry", "date", "elderberry", "fig", "grape", "kiwi"}
basket2 = {"kiwi", "lemon", "mango", "nectarine", "orange", "papaya", "cherry", "grape"}
# display the unique fruits of basket1 that are not there in basket2
# display the common fruits from both baskets
# display all the fruits from both baskets

basket1

for k in basket1:
    print(k)

elderberry
fig
date
apple
grape
banana
cherry
kiwi

In [28]:
m = {5,7,2,8,1,9}            
n = {2,9,1,4,5,2}
p = m | n
q = m ^ n   
o = m.symmetric_difference(n)
r = m & n
print(p)
print(q)
print(o)
print(r)

{1, 2, 4, 5, 7, 8, 9}
{4, 7, 8}
{4, 7, 8}
{1, 2, 5, 9}

In [21]:
m

{2, 5, 7, 8, 9}

In [22]:
m.pop()

2

In [23]:
m.remove(8)

In [24]:
m

{5, 7, 9}

In [29]:
m

{1, 2, 5, 7, 8, 9}

In [30]:
m.update({6,3,4})

In [31]:
m

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
line = "jack and jill went up the hill. jack fell down and jill saved jack"

mywords = line.split(' ')
unique_words = set(mywords)

for word in unique_words:
    print(word," ",line.count(word))

myletters = list(line)
myuniqueletters = set(myletters)

for k in myuniqueletters:
    print(k,"->",myletters.count(k))

the   1
fell   1
up   1
jack   3
saved   1
hill.   1
down   1
went   1
and   2
jill   2
h -> 2
v -> 1
c -> 3
o -> 1
i -> 3
s -> 1
n -> 4
w -> 2
p -> 1
k -> 3
f -> 1
d -> 4
  -> 13
t -> 2
u -> 1
e -> 4
j -> 5
l -> 8
a -> 6
. -> 1

In [48]:
project1 = ["Rajesh Kumar", "Sundar Venkatesan", "Divya Reddy", "Priya Nair", "Ravi Shankar", 
         "Anjali Krishnan", "Harish Babu", "Meera Nair", "Suresh Raj", "Divya Reddy"]

project2 = ["Karthik Kumar", "Anita Devi", "Suresh Raj", "Lakshmi Reddy", "Vikram Subramanian", 
         "Madhavi Krishnan", "Srinivasan P", "Priya Suresh", "Divya Reddy", "Rajesh Kumar"]

mypro1 = set(project1)
mypro2 = set(project2)

print(len(comman_emp),"employees are working on both the projects")
common_emp = mypro1.intersection(mypro2)
for emp in common_emp:
    print(emp)

3 employees are working on both the projects
Rajesh Kumar
Divya Reddy
Suresh Raj

In [4]:
d = {5:"car","bike":4,9:1,5:7}
d

{5: 7, 'bike': 4, 9: 1}

In [5]:
d.get('bike')

4

In [8]:
d.update({8:6})

In [9]:
d

{5: 7, 'bike': 4, 9: 1, 8: 6}

In [10]:
d.update({2:5,3:9})

In [11]:
d

{5: 7, 'bike': 4, 9: 1, 8: 6, 2: 5, 3: 9}

In [12]:
d.keys()

dict_keys([5, 'bike', 9, 8, 2, 3])

In [13]:
d.values()

dict_values([7, 4, 1, 6, 5, 9])

In [14]:
d

{5: 7, 'bike': 4, 9: 1, 8: 6, 2: 5, 3: 9}

In [16]:
d.pop('bike')

4

In [34]:
8 in d

True

In [27]:
k = d.items()
type(k)
d.keys()

dict_keys([5, 9, 8, 2, 3])

In [22]:
for i in k:
    print(i)

(5, 7) <class 'tuple'>
(9, 1) <class 'tuple'>
(8, 6) <class 'tuple'>
(2, 5) <class 'tuple'>
(3, 9) <class 'tuple'>

In [23]:
for i in k:
    print(i[1])

7
1
6
5
9

In [37]:
emp = {
    "Ram Kumar": "(425) 657-9832",
    "Sameera Reddy": "(783) 543-5678",
    "Prasad Naidu": "(314) 189-6475",
    "Saniya Sharma": "(292) 820-9456",
    "Shivkumar Goswami": "(492) 234-1325"
}

name = input("Enter employee name:")

if name in emp:
    print(name,"->",emp.get(name))
else:
    print("not found")

Enter employee name: Saniya Sharma

Saniya Sharma -> (292) 820-9456

In [47]:
d = "ram kumar"
p = d.capitalize()
p

'Ram kumar'

In [49]:
d = ""
e = "cat"
t = "".join(e)
t

'cat'

In [53]:
emp_data = {
    "Ram Kumar": [101, "Software Engineer", 60000],
    "Sameera Reddy": [102, "HR Manager", 75000],
    "Prasad Naidu": [103, "Product Manager", 80000],
    "Saniya Sharma": [104, "Marketing Executive", 55000],
    "Shivkumar Goswami": [105, "Data Scientist", 90000]
}

name = input("Enter name:")
if name in emp_data:
    l = emp_data.get(name)
    print("salary:",l[2])
        
else:
    print("not found")

Enter name: Prasad Naidu

salary: 80000

In [55]:
for k in emp_data.items():
    print(k[0],k[1])

Ram Kumar [101, 'Software Engineer', 60000]
Sameera Reddy [102, 'HR Manager', 75000]
Prasad Naidu [103, 'Product Manager', 80000]
Saniya Sharma [104, 'Marketing Executive', 55000]
Shivkumar Goswami [105, 'Data Scientist', 90000]

In [57]:
name = input("Enter name:")
if name in emp_data:
    print(name)
    for k in emp_data.get(name):
        print(k)
else:
    print("not found")

Enter name: Sameera Reddy

Sameera Reddy
102
HR Manager
75000

In [61]:
empid = int(input("enter empid:"))

for record in emp_data.items():
    if empid in record[1]:
        print(record[0])
        break
else:
    print("not found")

enter empid: 555

not found

In [63]:
for record in emp_data.items():
    mylist = record[1]
    if mylist[2]<=65000:
        print(record[0],"->",mylist[2])

Ram Kumar -> 60000
Saniya Sharma -> 55000

In [7]:
stocks = {
    "OPPO" : ['K5','K7','K55','K3'],
    "VIVO" : ['T3','T1','T2'],
    "REDMI": ["NOTE 12","NOTE 13","NOTE 13 PRO MAX","NOTE 14","NOTE 14 PRO"],
    "SAMSUNG" : ["S6","S7","S9","S13"]    
}


while True:
    print("\n1. Add Model \n2. Get Models \n3. Buy Phone \n4. Display All \n5. Exit")
    option = int(input("Enter your option:"))

    if option==1:
        company = input("Enter the company:")
        model = input("Enter model:")

        if company in stocks:
            model_list = stocks.get(company)
            model_list.append(model)
            print("model added successfully..")
        else:
            newlist = []
            newlist.append(model)
            stocks.update({company:newlist})
            print("model added successfully..")
    if option==2:
        company = input("Enter company name:")
        if company in stocks:
            mylist = stocks.get(company)
            for k in mylist:
                print(k,end=' | ')
        else:
            print("Not found")
    if option==3:
        company = input("Enter company:")
        model = input("Enter model:")
        if company in stocks:
            available = stocks.get(company)
            available.remove(model)
            print("sold successfully..")
        else:
            print("Sorry, stocks not available")
    if option==4:
        for record in stocks.items():
            print(record[0],"->",record[1])       
    if option ==5:
        print("Thank you for using our services..")
        break

1. Add Model
2. Get Models
3. Buy Phone
4. Display All
5. Exit

Enter your option: 4

OPPO -> ['K5', 'K7', 'K55', 'K3']
VIVO -> ['T3', 'T1', 'T2']
REDMI -> ['NOTE 12', 'NOTE 13', 'NOTE 13 PRO MAX', 'NOTE 14', 'NOTE 14 PRO']
SAMSUNG -> ['S6', 'S7', 'S9', 'S13']

1. Add Model
2. Get Models
3. Buy Phone
4. Display All
5. Exit

Enter your option: 3
Enter company: REDMI
Enter model: NOTE 13

sold successfully..

1. Add Model
2. Get Models
3. Buy Phone
4. Display All
5. Exit

Enter your option: 4

OPPO -> ['K5', 'K7', 'K55', 'K3']
VIVO -> ['T3', 'T1', 'T2']
REDMI -> ['NOTE 12', 'NOTE 13 PRO MAX', 'NOTE 14', 'NOTE 14 PRO']
SAMSUNG -> ['S6', 'S7', 'S9', 'S13']

1. Add Model
2. Get Models
3. Buy Phone
4. Display All
5. Exit

Enter your option: 5

Thank you for using our services..

In [1]:
print("easy coding")

easy coding

In [3]:
def display():           # function definition
    print("easy coding")   

display()                # function calling

easy coding

In [7]:
# adding two numbers

def myaddition(a,b):    # a and b are arguments  positional arguments, default arguments and keyword args
    print(a)
    print(b)

myaddition(9,5)

9
5

In [20]:
def myaddition(a,b=7):    # a and b are arguments  default arguments and keyword args
    print(a)
    print(b)

myaddition(5)

5
7

In [23]:
def myaddition(a,b):    # a and b are arguments keyword args
    return a+b

myaddition(a=12,b=95)

107

In [28]:
def myaddition():    # a and b are arguments keyword args
    global a         # this is global. available thru out the program
    a = 9 
    b = 5            # scope : availability of the variable      
    return a+b

print(myaddition())
print(a)

14
9

In [31]:
def myfact(n):
    p = 1
    for k in range(1,n+1):
        p = p * k
    return p

myfact(4)

24

In [34]:
# wap to send a list of numbers to a function and define the function in such a way
# that function should return the max value from that
def mymax(mylist):
    mx = 0
    for k in mylist:
        if mx < k:
            mx = k

    return mx


m = [5,9,1,24,12,3]
mymax(m)

24

In [35]:
def kerala():
    print("Welcome to Kerala")
    
def bang():
    print("Welcome to bangalore")
    kerala()

def hyd():
    print("Welcome to Hyderabad")
    bang()

print("home")
hyd()
print("return to home")

home
Welcome to Hyderabad
Welcome to bangalore
Welcome to Kerala
return to home

In [36]:
a = int(input("Enter a:"))
b = int(input("Enter b:"))

def myadd(a,b):
    print(a+b)

def mymul(a,b):
    print(a*b)

while True:
    print("\n1. ADD \n2. Multiply \n3.Exit")
    option = int(input("Enter your option"))

    if option==1:
        myadd(a,b)
    if option==2:
        mymul(a,b)
    if option==3:
        print("Thank you")
        break

Enter a: 5
Enter b: 2

1. ADD
2. Multiply
3.Exit

Enter your option 1

7

1. ADD
2. Multiply
3.Exit

Enter your option 2

10

1. ADD
2. Multiply
3.Exit

Enter your option 3

Thank you

In [1]:
def totalcal(mylist):
    total = 0
    for k in mylist:
        total = total + k
    return total

m = [5,9,1,4,2,3]
totalcal(m)

24

In [2]:
def fact(n):
    if n==1:
        return 1
    else:
        return n * fact(n-1)
fact(5)

120

In [8]:
# using recursive find the sum of this series 1 + 2 + 3 + 4 + 5

def total(start,end):
    if start>end:
        return 0
    else:
        return start + total(start+1,end)

total(1,5)

15

In [11]:
#  1^2 + 2^2 + 3^2 + 4^2 + 5^2


def sq(num):
    return num**2


def total(start,end):
    if start>end:
        return 0
    else:
        return sq(start) + total(start+1,end)

total(1,10)

385

In [12]:
x = lambda x : x*x
x(3)

9

In [13]:
x = lambda a : a**3
x(3)

27

In [15]:
# find the maximum value in the list by passing list to the lambda function

x = lambda a : max(a)
x([2,5,3,6,9])

9

In [18]:
def findmax(n):
    m = 0
    for k in n:
        if m < k:
            m = k
    return m

x = lambda a : findmax(a)
x([2,75,23,6,9])

75

In [19]:
import math

math.ceil(5.4)

6

In [20]:
math.floor(5.4)

5

In [21]:
math.fabs(-5)

5.0

In [22]:
math.sin(30)

-0.9880316240928618

In [23]:
math.log(2)

0.6931471805599453

In [24]:
math.pow(5,3)

125.0

In [25]:
math.sqrt(25)

5.0

In [26]:
math.factorial(5)

120

In [27]:
math.gcd(10,30,25)

5

In [28]:
math.lcm(12,24,4)

24

In [32]:
import random

random.random()   # gives random number between 0 to 1

0.46230677328074543

In [42]:
# random number 10 20

random.randint(1,6)

5

In [46]:
mylist = [5,2,7,8,1,3]
random.shuffle(mylist)

In [47]:
mylist

[2, 1, 7, 5, 8, 3]

In [53]:
from random import choice

fname = [
    "Chiranjeevi",
    "Pawan Kalyan",
    "Mahesh Babu",
    "Rama Rao",
    "Allu Arjun",
    "Ram Charan",
    "Prabhas",
    "Vijay Deverakonda",
    "Nani",
    "Sai Dharam Tej"
]

# List of smaller locations in Hyderabad
lname = [
    "Malakpet",
    "Lalapet",
    "Ameerpet",    
    "Kachiguda",
    "Chikkadpally",
    "Miyapur",    
    "Attapur",
    "Saidabad",
    "Shaikpet",
    
]

for k in range(25):
    l = choice(lname)
    f = choice(fname)
    fn = f'{l}{f}@gmail.com'
    print(fn)

KachigudaSai Dharam Tej@gmail.com
KachigudaRam Charan@gmail.com
MalakpetPrabhas@gmail.com
KachigudaVijay Deverakonda@gmail.com
ShaikpetVijay Deverakonda@gmail.com
ChikkadpallyNani@gmail.com
ShaikpetAllu Arjun@gmail.com
AmeerpetSai Dharam Tej@gmail.com
MalakpetChiranjeevi@gmail.com
SaidabadRam Charan@gmail.com
MalakpetSai Dharam Tej@gmail.com
MalakpetNani@gmail.com
MiyapurPrabhas@gmail.com
KachigudaAllu Arjun@gmail.com
ShaikpetPawan Kalyan@gmail.com
MiyapurRam Charan@gmail.com
AmeerpetSai Dharam Tej@gmail.com
MalakpetPawan Kalyan@gmail.com
SaidabadVijay Deverakonda@gmail.com
ChikkadpallyPawan Kalyan@gmail.com
AmeerpetRam Charan@gmail.com
AttapurChiranjeevi@gmail.com
MiyapurRama Rao@gmail.com
ShaikpetRama Rao@gmail.com
SaidabadRama Rao@gmail.com

In [10]:
# wap to generate an OTP of 6 digits

# hint: use while or for along with random function
import random
print("Your OTP is",end=' ')
for k in range(6):
    print(random.randint(0,9),end='')

Your OTP is 198331

In [11]:
f = open("c:\\test\\myfile.txt")
f.read()

'Technology is improving day by day..'

In [13]:
p = open("c:\\test\\myfile.txt","w")
text = input("Enter some text:")
p.write(text)
print("write successful")
p.close()

Enter some text: jack and jill went up the hill

write successful

In [16]:
r = open("c:\\test\\myfile.txt","r")
w = open("c:\\test\\yourfile.txt","a")
w.write("\n"+r.read())
w.close()
r.close()
print("copied successfully..")

copied successfully..

In [29]:
# wap to count the number of words in the file
import re
data = open("c:\\test\\myfile.txt","r")

text = data.read()

words = re.split('[\n]',text)

print(len(words))

print(words)

3
['jack and jill went up the hill', 'baba baba black sheep', 'London bridge is falling down']

In [1]:
import calcu

print(calcu.myfact(5))

120

In [4]:
class Dog:
    def insert(self,b,c,h):            # self:  it refers to current object
        self.breed = b
        self.color = c
        self.height = h

    def show(self):
        print(self.breed,self.color,self.height)
        

# how to create an object

dog1 = Dog()

dog1.insert("pamerian","lightbrown",1.2)

dog1.show()

dog2 = Dog()
dog2.insert("doberman","bnw",2.1)
dog2.show()

pamerian lightbrown 1.2
doberman bnw 2.1

In [6]:
# wap to create a student class and display atleast 3 students information

#  rollno, name, per  getpercentage, displayDetails

class Student:
    def insert(self,r,n,p):
        self.roll = r
        self.name = n
        self.perc = p

    def showDetails(self):
        print(self.roll,self.name,self.perc)

s1 = Student()
s1.insert(101,"Ram",9.5)
s1.showDetails()

101 Ram 9.5

In [5]:
class Employee:
    def __init__(self,empid,name,job,sal):
        self.empid = empid
        self.name = name             # constructor: special method that generally used to initialize instance variable
        self.job = job
        self.sal = sal

    def showDetails(self):
        print(self.empid,self.name,self.job,self.sal)

emplist = []

while True:
    print("\n1 Add Record \n2 Delete Record \n3 Display Records \n4 Exit:")
    option = int(input("Enter your option:"))
    if option==1:
        eid = int(input("Enter empid:"))
        name = input("Enter name:")
        job = input("Enter job:")
        sal = float(input("Enter salary"))
        emplist.append(Employee(eid,name,job,sal))
        print("Record added successfully..")

    if option==2:
        index = int(input("which record you want to delete:"))
        if len(emplist)<index:
            print(f'sorry.. {len(emplist)} records are present')
        else:
            emplist.pop(index-1)
            print("Record deleted successfully")

    if option==3:
        for item in emplist:
            item.showDetails()

    if option==4:
        print("Thank you")
        break

1 Add Record
2 Delete Record
3 Display Records
4 Exit:

Enter your option: 2
which record you want to delete: 2

sorry.. 0 records are present

1 Add Record
2 Delete Record
3 Display Records
4 Exit:

Enter your option: 4

Thank you

In [11]:
class Account:
    
    def __init__(self,amt):         # self : current object
        self.__mybal = amt

    
    def getBalance(self):          # Getter function 
        return self.__mybal


    def setIntrest(self):         # setter function
        self.__mybal = self.__mybal + self.__mybal * .05


obj = Account(8000)

ac2 = Account(6000)

print(ac2.getBalance())

print(obj.getBalance())

obj.setIntrest()
ac2.setIntrest()

print(ac2.getBalance())
print(obj.getBalance())

6000
8000
6300.0
8400.0

In [2]:
class Employee:
    def __init__(self,eid,name,job,sal,loc):
        self.eid = eid
        self.name = name
        self.job = job
        self.sal = sal
        self.loc = loc

    def showDetails(self):
        print(self.eid,self.name,self.job,self.sal,self.loc)

    def getName(self):
        return self.name

    def setSalary(self,amt):
        self.sal = amt
    


emplist = []

emplist.append(Employee(555,"Shekar","programmer",65321.85,"gachibowli"))
emplist.append(Employee(999,"Rohit","manager",85324.85,"hitech_city"))
emplist.append(Employee(111,"Amith","analyst",71235.85,"gachibowli"))
emplist.append(Employee(333,"Raju","teamlead",69251.85,"gachibowli"))
emplist.append(Employee(777,"Lokesh","programmer",63251.85,"hitech_city"))


name = input("Enter name:")

for emp in emplist:
    if emp.getName()==name:
        print("found")
        print(emp.name,emp.eid,emp.job,emp.sal)
        break
else:
    print("Not found")


name = input("Enter name:")

for emp in emplist:
    if emp.getName()==name:
        salary = int(input("Enter salary:"))
        emp.setSalary(salary)
        print("updated successfully")
        break
else:
    print("Not found")


name = input("Enter name:")

for emp in emplist:
    if emp.getName()==name:
        print("found")
        print(emp.name,emp.eid,emp.job,emp.sal)
        break
else:
    print("Not found")

Enter name: Raju

found
Raju 333 teamlead 69251.85

Enter name: Raju
Enter salary: 85631

updated successfully

Enter name: Raju

found
Raju 333 teamlead 85631

In [2]:
class Parent:
    def abc(self):
        print("abc method of parent class")

class Child(Parent):
    def xyz(self):
        print("xyz of child class")

c = Child()
c.xyz()
c.abc()

xyz of child class
abc method of parent class

In [3]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

class Employee(Person):
    def __init__(self,name,age,eid,job,sal):
        super().__init__(name,age)
        self.eid = eid
        self.job = job
        self.sal = sal

    def showDetails(self):
        print(self.name,self.age,self.eid,self.job,self.sal)
        
e = Employee("shekar",25,555,"analyst",65324.23)
e.showDetails()

shekar 25 555 analyst 65324.23

In [4]:
class GParent:
    def GTalent(self):
        print("he is a writer")

class Parent(GParent):
    def PTalent(self):
        print("he is a musician")

class Child(Parent):
    def CTalent(self):
        print("he is an actor")

c  = Child()

c.CTalent()
c.PTalent()
c.GTalent()

he is an actor
he is a musician
he is a writer

In [8]:
class Complex:                       #  5 + 3j
    def __init__(self,real,img):
        self.real = real
        self.img = img

    def display(self):
        print(self.real,"+",self.img,"j")

    def __add__(self,c):
        self.real = self.real + c.real
        self.img = self.img + c.img
        
c1 = Complex(5,3)
c2 = Complex(7,5)

c1.display()
c2.display()
c1 + c2            # c1.add(c2)

c1.display()

5 + 3 j
7 + 5 j
12 + 8 j

In [11]:
# overriding:

class Parent:
    def abc(self):
        print("abc of parent")

class Child(Parent):
    def abc(self):
        print("abc of child")

c = Child()
c.abc()

abc of child